main 
{
  flex-grow: 1;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

#app 
{
  padding: 2rem;
  min-height: 300px;
}




.fade-in 
{
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn 
{
  from 
  {
    opacity: 0;
    transform: translateY(10px);
  }

  to 
  {
    opacity: 1;
    transform: translateY(0);
  }
}

onyks-nav
{
  position: sticky;
  top: 0;
  margin: 0;
  width: auto;
}

onyks-logo
{
  position: absolute;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  padding: var(--spacing-md);
  top: 0;
}
