@import "@fontsource/inter/400.css";

:root 
{
  --font: 'Inter';
  --color-background: #1f1f1f;
  --color: #ffffff;


  --color-primary: #ff6262;

  --primary: #cb2525;
  --primary-light: #d32f2f;
  --primary-dark: #ac2626;
  --secondary: #BF9232;
  --dark: #0a0a0a;
  --dark-light: #1e1e1e;
  --gray: #2c2c2c;
  --light: #eeeeee;
  --light-small: #ffffffcc;

  --color-blue: #003cff;
  --color-green: #3eff6b;
  --color-red: #ff0019;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 24px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --logo-invert: invert(0);
}

[data-theme="light"]
{
  --color-background: #ffffff;
  --logo-invert: invert(1);
}

body
{
  background-color: var(--color-background);
}