@import "@fontsource/inter/400.css";

:root 
{
  --font: 'Inter';

  --surface-1: #1f1f1f;
  --surface-2: #232428;
  --surface-3: #38393f;
  --surface-4: #3e4047;

  --text-1: #ffffff;
  --text-2: #ffffff;
  --text-3: #ffffff;
  --text-4: #ffffff;

  --accent: #ff6262;

  --color-blue: #003cff;
  --color-green: #3eff6b;
  --color-red: #ff0019;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --size-sm: 12px;
  --size-md: 16px;
  --size-lg: 20px;
  --size-xl: 24px;
  
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;

  --logo-invert: invert(0);



    /* --primary: #cb2525;
  --primary-light: #d32f2f;
  --primary-dark: #ac2626;
  --secondary: #BF9232;
  --dark: #0a0a0a;
  --dark-light: #1e1e1e;
  --gray: #2c2c2c;
  --light: #eeeeee;
  --light-small: #ffffffcc; */
}

[data-theme="light"]
{
  --background-primary: #ffffff;
  --logo-invert: invert(1);
}

body
{
  background-color: var(--surface-1);
  color: var(--text-1);
  margin: 0;
}