*
{
  font-family: 'Inter';
}

:root 
{
  --color-background: #1f1f1f;
  --color-primary: #ff6262;

  --color-blue: #003cff;
  --color-green: #3eff6b;
  --color-red: #ff0019;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 24px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --logo-invert: invert(1);
}

[data-theme="dark"]
{
  --color-background: #ffffff;
  --logo-invert: invert(0);
}