*
{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body
{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.nav
{
  width: 20%;
  margin-right: 10%;
  background-color: red;
}

.content
{
  width: 70%;
  border-left: 5px solid black;
  padding: 2rem 0 0 5rem;
}